/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* Misc */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
body {/* test */
/*     border: 1em solid lime;*/
}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
.starfield {
    -ms-touch-action: none;
    * {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        border: 0;
        margin: 0;
        padding: 0;
    }
    body {
        overflow: hidden; /* this is important to prevent the whole page to bounce */
        background: #123;
    }
    .stars {
        bottom: 0;
        left: 0;
        overflow: hidden;
        position: absolute;
        top: 0;
        width: 100%;

        div {
            position: absolute;
            width: 100%;
            @include transform( translateZ(0) );
        }
    }
    .field0 {
        z-index: 3;

        div {
            background: url('../images/galaxies1.png');
            height: 4000px;
            z-index: 3;
        }
    }
    .field1 {
        z-index: 2;

        div { // inner
            background: url('../images/galaxies2.png');
            height: 3000px;
            z-index: 2;
        }
    }
    .field2 {
        z-index: 1;

        div { // inner
            background: url('../images/stars.png');
            height: 2000px;
            z-index: 1;
        }
    }
    .touch {
        @include text-size-adjust( none );
        @include user-select( none );
        -webkit-tap-highlight-color: rgba(0,0,0,0);
        -webkit-touch-callout: none;
    }
}
.marker {
    height: 0%;
    position: absolute;
    width: 10%;

    p {
        border: 1px solid white;
        text-align: center;
    }
}
.tl { top:    10%; left:  10%; }
.tr { top:    10%; right: 10%; }
.br { bottom: 10%; right: 10%; }
.bl { bottom: 10%; left:  10%; }
.md { left:   45%; top:   50%; }

#tmp0 {
    border-left: 3px solid red;
    div {
        border-left: 3px solid red;
        color: red;
        padding: 9rem;
    }
}
#tmp1 {
    border-left: 6px solid lime;
    div {
        border-left: 6px solid lime;
        color: lime;
        padding: 6rem;
    }
}
#tmp2 {
    border-left: 9px solid blue;
    div {
        border-left: 9px solid blue;
        color: blue;
        padding: 3rem;
    }
}
