/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* Misc */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
body {/* test */
/*     border: 1em solid lime;*/
}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
.starfield {
    $R0: 3/3;
    $R1: 2/4;
    $R2: 1/4;
    $MIN: 100%;
    $MAX: 500%;

    -ms-touch-action: none;
    * {
        @include box-sizing( border-box );
        border: 0;
        margin: 0;
        padding: 0;
    }
    body {
        font-family: impact;
        overflow: hidden; /* this is important to prevent the whole page to bounce */
        background: #123;
    }
    .stars {
        bottom: 0;
        left: 0;
        overflow: hidden;
        position: absolute;
        right: 0;
        top: 0;

        div {
            position: absolute;
            @include transform( translateZ(0) );
        }
    }

    .field0 {
        z-index: 3;

        div {
            background: url('../images/galaxies1.png');
            height: $MIN + ($MAX * $R0);
            width:  $MIN + ($MAX * $R0);
        }
    }
    .field1 {
        z-index: 2;

        div { // inner
            background: url('../images/galaxies2.png');
            height: $MIN + ($MAX * $R1);
            width:  $MIN + ($MAX * $R1);
        }
    }
    .field2 {
        z-index: 1;

        div { // inner
            background: url('../images/stars.png');
            height: $MIN + ($MAX * $R2);
            width:  $MIN + ($MAX * $R2);
        }
    }
    .touch {
        @include text-size-adjust( none );
        @include user-select( none );
        -webkit-tap-highlight-color: rgba(0,0,0,0);
        -webkit-touch-callout: none;
    }
}
.starfield.test {
    $C1: #d00;
    $C2: #0c0;
    $C3: #25f;

    cite.marker {
        height: 1%;
        position: absolute;
        width: 1%;

        span {
            display: inline-block;
            background-color: rgba(5,5,5, 0.2);
            border: 1em solid rgba(255,255,255, 0.1);
            border-radius: 15em / 5em;
            border-width: 0.5em 2em;
            height: 400%;
            left: -500%;
            line-height: 0;
            padding-top: 133%;
            position: relative;
            text-align: center;
            top: -200%;
            width: 1000%;
        }
    }
    .tl { top:    10%; left:  10%; }
    .tr { top:    10%; right: 10%; }
    .br { bottom: 10%; right: 10%; }
    .bl { bottom: 10%; left:  10%; }
    .md { left:   45%; top:   50%; }

    #tmp0 {
        border: 1px solid $C1;
        font-size: 300%;
        div {
            border: 2px dotted $C1; color: $C1;
        }
    }
    #tmp1 {
        border: 2px solid $C2;
        font-size: 150%;
        div {
            border: 3px dotted $C2; color: $C2;
        }
    }
    #tmp2 {
        border: 4px solid $C3;
        font-size: 75%;
        div {
            border: 4px dotted $C3; color: $C3;
        }
    }
    .wrapper {
        height: 50%;
        left: 25%;
        position: absolute;
        top: 25%;
        width: 50%;
    }
    .stars {
        overflow: visible;
    }
}
.touch {
    @include nosel();
    cursor: -webkit-grab;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-touch-callout: none;
}
.squeeze {
//    @include font-thin();
}
