// - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - //
/* ADHOC */
// - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - //
$fullwidth: 980px;
$lillwidth: 480px;
$unit: $fullwidth / 97;
$wt: $unit * 15;
$ht: $unit * 15;

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
@import "_base";
// - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - //
