// - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - //
/* ROTO / Base */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.iS-port {
    $fullsize: 100%;
    $count: 4;
    $height: $fullsize;
    $width: $fullsize / $count;
    $block: $height / 10;
    $gauge: 33%;

    background-color: #333;
    box-shadow: 1px 1px 33px gray;
    margin: auto;
    overflow: hidden;
    position: relative;
    text-align: center;

    .iS-view {
        height: $height;
        position: relative;
        width: $fullsize * $count;
        -webkit-tap-highlight-color: rgba(0,0,0,0);
        -webkit-transform: translateZ(0);-moz-transform: translateZ(0);-ms-transform: translateZ(0);-o-transform: translateZ(0);transform: translateZ(0);
        -webkit-touch-callout: none;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;
        -webkit-text-size-adjust: none;-moz-text-size-adjust: none;-ms-text-size-adjust: none;-o-text-size-adjust: none;text-size-adjust: none;

        & > * {
            background-color: #eee;
            background-size: 100% 100%;
            cursor: -webkit-grab;
            float: left;
            height: $height;
            width: $width;
            position: relative;
            z-index: 1;
        }
    }
    .iS-proxy {
            background-color: #eee;
        cursor: pointer;
        height: $block;
        left: $fullsize / 2 - $gauge / 2; // center
        position: absolute;
        top: 80%; // x height + x/2 for margin
        width: $gauge;
        z-index: 1;

        .iS-peg {
            background-color: #ddd;
            height: 90%;
            opacity: 0.9;
            position: relative;
            width: 100% / $count / 2;
        }
    }
}

._projector {
    &.iS-port {
        width: 855px;
        height: 333px;
    }
    .iS-view {
        & > * {
            background-image: url(../images/metal.png);

            &:first-child::after {
                content: "first";
            }
            &:last-child::before {
                content: 'last';
            }
        }
    }
    .iS-proxy {
        background-size: contain;
    }
}

// - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - //
