// - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - //
/* ROTO / Base */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.iS-port {
    $fullsize: 980px;
    $count: 3;
    $height: $fullsize / 2;
    $block: $fullsize / 49;
    $margin: $block / 2;
    $gauge: ($count * 2 - 1) * $block;

    background-color: #333;
    box-shadow: 1px 1px 33px gray;
    margin: auto;
    overflow: hidden;
    position: relative;
    text-align: center;
    width: $fullsize;

    .iS-view {
        height: $height + $margin * 2;
        position: relative;
        width: $fullsize * $count;
        -webkit-tap-highlight-color: rgba(0,0,0,0);
        -webkit-transform: translateZ(0);-moz-transform: translateZ(0);-ms-transform: translateZ(0);-o-transform: translateZ(0);transform: translateZ(0);
        -webkit-touch-callout: none;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;
        -webkit-text-size-adjust: none;-moz-text-size-adjust: none;-ms-text-size-adjust: none;-o-text-size-adjust: none;text-size-adjust: none;

        & > * {
            background-color: #eee;
            background-size: 100% 100%;
            cursor: -webkit-grab;
            float: left;
            height: $height;
            margin: $block / 2;
            width: $fullsize - $block;
            position: relative;
            z-index: 1;
        }
    }
    .iS-proxy {
        cursor: pointer;
        height: $block;
        left: $fullsize / 2 - $gauge / 2; // center
        position: absolute;
        top: $height - $block * 1.5; // x height + x/2 for margin
        width: $gauge;
        z-index: 1;

        .iS-peg {
            background-color: #ddd;
            height: $block * 0.9;
            opacity: 0.9;
            position: relative;
            width: $block;
        }
    }
}

._projector {
    .iS-view {
        & > * {
            background-image: url(../images/metal.png);

            &:first-child::after {
                content: "first";
            }
            &:last-child::before {
                content: 'last';
            }
        }
    }
    .iS-proxy {
        background-image: url(../images/cubes.png);
        background-size: contain;
    }
}

// - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - - + - //
